extends header.pug
a.btn.btn-success.col-1.my-3(href="/accounts/new") Add
  div.container.list-group.mx-3
    each account in accounts 
      div.row
        p.list-group-item.col-10.my-2= account.titleAccount
        a.btn.btn-danger.col-1.mx-5.my-2(href="/accounts/delete/" + account._id) Delete
      