extends header.pug

block content

  form.d-flex.justify-content-center(action="/login/" method="POST")
    div.form-group.text-center
        p.h4.mt-5 Log In
        input.form-control.mt-3(type="text" name="email" placeholder="email")
        input.form-control.mt-3(type="text" name="password" placeholder="password")
        button.btn.btn-dark.mt-4 submit