extends header.pug

block content

  form.d-flex.justify-content-center(action="/login/" method="POST")
    div.row
      input.form-control.mt-3(type="text" name="email")
      input.form-control.mt-3(type="text" name="password")
      button.btn.btn-primary.mt-3 submit