extends ../header.pug

block content
  
  div.justify-content-center.h-75.align-items-center.d-flex
    div.text-center
      p.h5 New account
      form(action="/accounts/new" method="POST") 
        div.d-flex
          div.row
            div.col-9
              input.form-control.mt-3(type="text" name="titleAccount" placeholder="Account name")
            div.col-3
              button.btn.btn-dark.mt-3 submit
  