extends ../header.pug

block content

  p.h5.text-center.my-2=account.titleAccount
  a.btn.btn-success.col-1.my-3(href="/accounts/" + accountId + "/new") Add
  
  script.
    $(document).ready(function() {
      $('#accounts_users_table').DataTable( {
          "processing": true,
          "serverSide": 0,
          "ajax": "http://localhost:3000/accounts/" + #{accountId} + "/users/json",
          aoColumns: [
            { mData: 'titleUser' },
            { mData: 'mail'},
            { mData: 'phone'},
            { mData: 'accountId' },
            { mData: 'userId' },
            { mData: 'date_created' },
            { mData: '_id' , render : function ( data, type, row, meta ) {
                return '<a class="btn btn-danger" href="users/delete/' + data + '">Delete</a>' + 
                       '<a class="btn btn-warning mx-2" href="password/' + data + '">Password</a>' +
                       '<a class="btn btn-warning" href="profile/' + data + '/">Profile</a>'
            }}
          ]
        });
    })

  table(id="accounts_users_table" class="display" width="100%")
    thead
      tr 
        th.text-center Name 
        th.text-center Mail 
        th.text-center Phone
        th.text-center Account Id 
        th.text-center User Id
        th.text-center Date created 
        th.text-center Actions

  script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
  script(src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js")