extends ../header.pug

block content
    input.datapicker(data-provide="datepicker-inline" data-date-format="yyyy-mm-dd" name="date" id="date")
    button(onclick="show_chart()") Show
    div(id="divchart")
        canvas(id="myChart" width="400" height="200")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
    script(src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js")