extends ../header.pug

block content
  form.d-flex.justify-content-center(action="/users/new" method="POST")
    div.row
      input.form-control.mt-3(type="text" name="titleUser")
      input.form-control.mt-3(type="text" name="Id")
      button.btn.btn-primary.mt-3 submit