extends ../header.pug

block content

  form.d-flex.justify-content-center(action="/users/new" method="POST")
    div.form-group.text-center
        p.h4.mt-5 New user
        input.form-control.mt-3(type="text" name="titleUser" placeholder="User name")
        input.form-control.mt-3(type="text" name="Id" placeholder="Account ID")
        button.btn.btn-dark.mt-4 submit