extends ../header.pug

block content
  
  a.btn.btn-success.col-1.my-3(href="/users/new") Add   
  form(action="/users/chart" method="POST")
    button.btn.btn-primary Stat

  script.
      $(document).ready(function() {
        $('#users_table').DataTable( {
          "processing": true,
          "serverSide": 0,
          "ajax": "http://localhost:3000/users/a",
          aoColumns: [
            { mData: 'titleUser' },
            { mData: 'accountId' },
            { mData: 'userId' },
            { mData: 'date_created' },
            { mData: 'userId' , render : function ( data, type, row, meta ) {
                return '<div class="col text-center">'+
                        '<a class="btn btn-danger" href="users/delete/' + data + '">Delete</a>' +
                        '</div>'      
            }}
          ]
        });
        $('#datepicker').datepicker({
          format: 'yyyy-mm-dd'
        });
        $( "#chart_button" ).on( "click", "tr", function() {
          console.log( 5 );
        })
      })

  table(id="users_table" class="display" width="100%")
    thead
      tr 
        th.text-center Name 
        th.text-center Account Id 
        th.text-center User Id
        th.text-center Date created 
        th.text-center Actions
  
  

  script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
  script(src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js")
    